    body {
      font-family: 'Metropolis', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    footer a:focus,
    .bg-white a:focus{
      outline: 2px solid #000;
      outline-offset: 4px;
    }

     #Homepage main a:focus,
     #TOC .grid a:focus,
    .bg-black a:focus{
      outline: 2px solid #FFF;
      outline-offset: 4px;
    }

    .dropcap{
      float: left;
      font-size: 3.5rem;
      line-height: .5rem;
      margin: 1.5rem .2rem .2rem 0;
   
    }
    .sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

    .text-MSU-green{
      color: #2EA33E;
    }

    .bg-MSU-green{
      background-color: #2EA33E;
    }

    .hover\:bg-MSU-green:hover,
    .hover\:bg-MSU-green:focus{
      background-color: #3CC94C;
      color: #000;
    }

    .grid__container--large {
      max-width: 1170px;
      margin: 0 auto;
      grid-template-columns: repeat(12, 1fr);
      display: grid;
      gap: 1rem;
    }

    .grid__column--span3 {
      grid-column: span 3;
    }

    .grid__column--span9 {
      grid-column: span 9;
    }

    .applicationFooter {
      color: #111;
      padding: 2rem;
    }

    .applicationFooter svg {
      fill: #000;
      max-width: 250px;
      margin-left: 10px;
      align-self: center;
    }

    .applicationFooter a {
      color: #18453b;
    }

    #FooterLinks {
      width: fit-content
    }

    #FooterLinks ul {
      border-bottom: 1px dotted #555;
      margin-bottom: .5rem;

    }

    .applicationFooter ul {
      margin: 0;
    }

    .applicationFooter ul li {
      display: inline-block;
      font-size: .9rem;
      padding: 0 .5rem;
    }

    .applicationFooter #FooterLinks li,
    .applicationFooter #FooterInfo li {
      border-left: 1px solid #555;
    }

    .applicationFooter #FooterLinks li:first-child,
    .applicationFooter #FooterInfo li:first-child {
      border: none;
    }

    .applicationFooter #FooterInfo a {
      color: #18453b;
    }

    .applicationFooter__wordmark {
      align-items: center;
      display: flex
    }

    .applicationFooter__wordmark a {
      flex: 1;
    }

    .hideDesktop {
      display: none;
    }

    .hideMobile {
      display: flex;
    }

    @media screen and (max-width: 1200px) {
      footer {
        text-align: center;
      }

      #FooterLinks {
        margin: 0 auto
      }

      .grid__column--span3,
      .grid__column--span9 {
        grid-column: span 12;
      }

      .applicationFooter svg {
        margin: 0 auto;
      }

      .hideMobile {
        display: none;
      }

      .hideDesktop {
        display: flex;
      }
    }